body{
	font-family: courier;
	padding: 0;
}

h2{
	margin: 0;
}

hr{
	position: absolute;
	background-color: #000;
	width: 70px;
	height: 5px;
	border: none;
}

.img-box{
	width: 200px;
	height: 200px;
	padding: 10px;
}

.box{
  	list-style: none;
  	display: inline-block;
  	padding-top: 20px;
}

.texto{
	position: absolute;
	color: white;
	left: 50px;
	top: 170px;
}

.cont-img{
	position: relative;
}